<style>
    .footerimg{
        background-image: url('/images/image.png');
        background-size: cover;
        width: 1200px;
        height: 1200px;
    }
</style>
<div class = "footerimg">
    <!-- <img  src="/images/image.png" alt=""> -->
</div>


<p class="text-center text-muted">&copy; Copyright 2024 Travling</p>