<nav class="navbar flex-row navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid flex-row">
    <a class="navbar-brand me-auto p-2" href="/"><strong>Travling</strong></a>
    <ul class="navbar-nav flex-row column-gap-3">
      <li class="nav-item mx-3">
        <a class="nav-link" href="/">Product</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="/">Contact Us</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item mx-3">
        <button class = "bg-primary rounded-2">
          <a class="nav-link" href="/SignUp">Sign Up</a>
        </button>
      </li>
    </ul>
  </div>
</nav>